.home-container{
    justify-content: space-between;
    display: flex;
    position: relative;
    align-items: center;
    padding: 0 4%;
    width: 100%;
    height: 100vh;
    // background: 
    // linear-gradient(to bottom, #ffffffdf 30%, rgba(255, 255, 255, 0), #ffffff),
    //     url("/images/route.jpg");
    // background-position: center;
    // background-size: cover;
    // background-repeat: no-repeat;
    overflow: hidden;
    .info-container{
        width: 50%;
        animation: fadeIn 1.5s ease-in-out;
        animation: slideIn 1.5s ease-out;
        h1{
            font-size: 6em;
            color : #333;                       //var(--text)
            animation: slideIn 2.1s ease-out;
        }
        p{
            font-size: 1.2rem;
            color : #333;                       //var(--paragraph)
            margin-bottom: 10px;
            animation: fadeIn 2s ease-in;
        }
    }

    @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
      
      @keyframes slideIn {
        from {
          transform: translateX(-100%);
          opacity: 0;
        }
        to {
          transform: translateX(0);
          opacity: 1;
        }
      }

    .image-container{
        position: relative;
        width: 50%;
        height: 100%;
        &::before{
            content: "";
            position: absolute;
            right: -9%;
            top : 0;
            width: 70%;
            height: 100%;
            background: #069e01;                              //var(--primaryColor);
            z-index: -1;
        }
        img{
            width: 100%;
            height: 100%;
            transform: scale(1.2);
            object-fit: contain;
        }
    }

    .Fy{
        color: #069e01;
    }


}
